body {
	font-family: ubuntu;
	height: 100vh;
}
h2 {
	text-align: center;
}

/*************Bootstrap Wrapper*****************/

nav.navbar.navbar-inverse {
	background-color: #205081;
	border-color: #2e3D54;
	border-radius: 0px;
}

nav.navbar.navbar-inverse .navbar-nav .active a,
nav.navbar.navbar-inverse .navbar-nav .open a
{
	background-color: #09396B;
}

nav.navbar.navbar-inverse a {
	color: white;
}


nav.navbar.navbar-inverse .navbar-nav li a {
	color: white;
}

nav.navbar.navbar-inverse .navbar-nav .dropdown-menu li a
{
	background-color: white;
	color: black;
}

nav.navbar.navbar-inverse  .navbar-nav .dropdown-menu li a:hover 
{
	background-color: #3572b0;
	color: #fff;
}


/**** End Bootstrap Wrapper *****/

.mainAlert {
	font-family: ubuntu;
}

#theCanvas 
{
	z-index: 255;
	background-color: rgba(14, 63, 56, 0.56);
	position:relative;
	 /* 100vh height and auto overflow let the canvas grouw if users 
	 need more tables than can fit on the screen at one time. */
	height:100vh;
	overflow:auto;
}

#resultsDialog #theCode pre {
	max-height:340px;
}

.panel.tableDesign, 
.panel.tableDesign .panel-heading
 {
	border-radius: 0px;
}

.panel.tableDesign .panel-heading {
	padding: 5px 5px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 700px;
	}
	.modal-about .modal-dialog {
		width: 550px;
	}
}

/*for modal dialogs:*/
.modal-content .modal-header.special-header {
	border-radius: 5px;
	background-color: rgb(239, 202, 139);
}

nav.header {
	/*margin-left: 100px;
	margin-right: 100px;*/
}

.mainAlert {
	margin-top: 100px;
  font-size: 18px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#fields td,
#fields th
 {
	padding-top: 4px;
	padding-bottom: 4px;
}