<div id="addTableDialog" class="modal fade">
	<input id="editMode" type="hidden" value=""></input>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title"><span id="tableName"></span></h4>
      </div>
      <div class="modal-body form-inline">
        <input autofocus="true" id="fieldName" style="width:110px;" class="form-control" type="text" placeholder="Field name"></input>
        <select id="fieldType" class="form-control" type="text" onchange="if ($('#fieldType').val()!='String' && $('#fieldType').val()!='Text') $('#fieldSize').attr('disabled',''); else $('#fieldSize').removeAttr('disabled');">
<!--
			<option value="LONGTEXT">mysql.LONGTEXT</option>
-->
			<option value="Text">Text</option>
			<option value="Integer">Integer</option>
			<option value="Float">Float</option>
			<option value="Date">Date</option>
			<option value="Date">DateTime</option>
<!--
			<option value="BIGINT">mysql.BIGINT</option>
			<option value="BIGINT(unsigned=True)">mysql.BIGINT(unsigned)</option>
-->
		</select>
        <input id="fieldSize" style="width:70px;" class="form-control" type="number" min="0" placeholder="size" value=""></input>
        <input id="fieldDefault" style="width:100px;" class="form-control" type="text" placeholder="Default" value=""></input>
        <div class="checkbox"><label><input id="fieldPrimary" type="checkbox" value="primary">Primary</label></div>
        <div class="checkbox"><label><input id="fieldUnique" type="checkbox" value="unique">Unique</label></div>
		
		<p></p>
        <button style="text-align:right;" type="button" class="btn btn-success" onclick="addField();">Add Field</button>
		<p></p>
		<table id="fields" class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Details</th>
				<th>Action</th>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveData();">Save changes</button>
	</div>
		<div class="alert alert-info" role="alert">
		<small>Note: Use <kbd>tab</kbd> key to navigate through the widgets.</small>
		</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

$("#addTableDialog").on('hidden.bs.modal', function(e){
	console.log(this.data);
});

function saveData() {
	if ($('.fieldRow').length==0) {
		alert('You must add at least one field.');
		return;
	}

	var table;
	if ($('#editMode').val() == "add") {
		if (tables[$('#tableName').text()] != undefined){
			alert('This table already exists.');
			return;
		}
		table = new Table();
	}
	else if ($('#editMode').val() == "edit") {
		table = tables[$('#tableName').text()];
	}
	else {
		alert("Unexpected value!");
		return;
	}
	
	table.name = $('#tableName').text();
	
	//remove old endpoints
	window.oldrefs = {};
	if ($('#editMode').val() == 'edit') {
		jsPlumb.detachAllConnections($('#tbl' + table.name + " .table"));
		window.oldrefs = {};
		$.each(tables[table.name].fields, function(k,v) {
			//preserve existing relations
			window.oldrefs[v.name] = {};
			window.oldrefs[v.name]['foreign'] = v.foreign;
			window.oldrefs[v.name]['ref'] = v.ref;
			console.log('oldref backing up',v.name,v.foreign,v.ref);
			
			//console.log(v.ep);
			//elist1 = jsPlumb.selectEndpoints({target:$("#tbl" + tsa[0] +  " div[ffname='" + tsa[0] + "." + tsa[1] +  "']")});
			
			//jsPlumb.deleteEndpoint(v.ep);
			//console.log('deleted ep for',v.name);
		});
		jsPlumb.empty($('#tbl' + table.name + " .table"));
	}
	
	table.fields={};
	//First update the data model!
	$('.fieldRow').each(function(index) {
		var isPrimary = Boolean($(this).find(".hfieldPrimary").text());
		var isUnique = 	Boolean($(this).find(".hfieldUnique").text());
		var defaultValue = $(this).find(".hfieldDefaultValue").text();
		console.log($(this).find(".fieldName").text(), 'primary: ' + $(this).find(".hfieldPrimary").text());
		console.log($(this).find(".fieldName").text(), 'unique: ' + $(this).find(".hfieldUnique").text());
		console.log("DATA_TYPE",$(this).find(".fieldType").val());
		
		table.fields[$(this).find(".fieldName").text()] = new Field({ 
			name: $(this).find(".fieldName").text(),
			type: $(this).find(".fieldType").text(),
			size: $(this).find(".hfieldSize").text(),
			primaryKey: isPrimary,
			unique: isUnique,
			defaultValue:  (defaultValue=="" ? null : defaultValue)
			});
	});
	
	tables[table.name] = table;
	$("#addTableDialog").modal('hide');
	
	//Now Build the new panel!
	createThePanel(table, $('#editMode').val(), null);
}

// Join two strings with a separator in between
function joinWithSep(a, b, separator) {
	if (a.length == 0) {
		return b;
	} else {
		return a + separator + b;
	}
}

/**
* Creates a new field from the input boxes and adds to the display.
*/
function addField()
{
	if ($("#fieldSize").val() =="" || $("#fieldSize").attr('disabled')) $("#fieldSize").val(0);
	var sizeValid = parseInt($("#fieldSize").val()) >= 0;
	if ($("#fieldName").val().trim() == "") {
		bspopup("Field name cannot be blank.");
		return;
	}
	else if ($('#fieldName').val().indexOf(" ")>=0) {
		bspopup("Field name cannot contain a special character or space.");
		return;
	}
	else if (!sizeValid) {
		bspopup("Not a valid size.");
		return;
	}
	else if ($("#" + $("#fieldName").val()).length >0) {
		bspopup("A field with this name already exists.");
		return;
	}
	var html = "<tr class='fieldRow' id='" + $("#fieldName").val() + "'>";
	html += "<td class='fieldName'>" + $("#fieldName").val() + "</td>";
	html += "<td class='fieldType'>" + $("#fieldType").val() + "</td>";
	var size = $("#fieldSize").val();
	html += "<td class='fieldSize'>" + (size==0 ? "-" : size)  + "</td>";
	
	var isPrimary = $("#fieldPrimary").is(':checked');
	var isUnique = $("#fieldUnique").is(':checked');
	var fieldDefault = $("#fieldDefault").val();
	
	// Set details column value
	var details  = (isPrimary ? "primary" : "");
	if (isUnique) details = joinWithSep(details,"unique",",");
	if (fieldDefault != "") {
		details = joinWithSep(details, fieldDefault, ',');
	}
	
	html += "<td class='fieldDetails'>" + details  + "</td>";
	html += "<td class='hidden hfieldSize'>" + size  + "</td>";
	html += "<td class='hidden hfieldDefaultValue'>" + $("#fieldDefault").val()  + "</td>";
	html += "<td class='hidden hfieldPrimary'>" + (isPrimary ? 'true' : '')  + "</td>";
	html += "<td class='hidden hfieldUnique'>" + (isUnique ? 'true' : '')  + "</td>";
	html += "<td class='delete'><button onclick='tryToDelete(\"" + $("#fieldName").val() + "\")' title='Delete Field' class='btn btn-xs btn-danger'><span class='glyphicon glyphicon-remove'></span></button></td>";
	html += "</tr>";
	
	$("#fields").append(html);
	$("#fieldName").val("");
	$("#fieldSize").val("");
	$('#fieldSize').removeAttr('disabled');
	$('#fieldType').val("Text");
	$('#fieldDefault').val('');
	$('#fieldPrimary').removeAttr("checked");
	$('#fieldUnique').removeAttr("checked");

	$("#fieldName").focus();
}

function tryToDelete(fieldName) {

	var tname = $('#tableName').text();
	var existing = tables[tname].fields[fieldName];

	if (existing!=undefined && existing.foreign != null) {
		bspopup("This key is acting as a primary key in a relation. Please delete that relation first.");
		return;
	}
	else if (existing!=undefined && existing.ref != null) {
		bspopup("This key is acting as a foreign key in a relation. Please delete that relation first.");
		return;
	}

	$('#' + fieldName).remove();
}
</script>
