<div class="hidden modal fade popupBox" id="popupBoxAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body" style="">
			  <h3 style="margin:0px;">Visual Alchemist <span class='version'>1.0.0</span></h3>
			  <h5><span>An open source web-based database diagramming and automation tool.</span></h5>
			  <h5>License: <a href="https://github.com/prahladyeri/VisualAlchemist/tree/master/LICENSE">GNU GPLv3</a></h5>
			  <h5>&copy; Prahlad Yeri <span class='year'></span></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="hidden modal fade popupBox" id="popupBoxGeneric" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Visual Alchemist</h4>
      </div>
      <div class="modal-body" style="">
          <p class="messageText">Default Message</p>
      </div>
      <div class="modal-footer">
        <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="hidden modal fade popupBox" id="popupBoxInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Visual Alchemist</h4>
      </div>
      <div class="modal-body" style="">
          <p class="messageText">Default Message</p>
          <input type="text" class="form-control" id="txtInput">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnOK" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
