<div class="hidden modal modal-about fade popupBox" id="popupBoxAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body" style="">
			<img style='border-radius:500px;' src="/img/logo-medium.png"/>
			  <h3 style="margin:0px;">Visual Alchemist <span class='version'>1.0.0</span></h3>
			  <h5><span>Open source web-based database diagramming and automation tool.</span></h5>
			  <h5>License: <a href="https://github.com/prahladyeri/VisualAlchemist/tree/master/LICENSE">GNU GPLv3</a></h5>
			  <h5>Copyright &copy; 2016<br>Prahlad Yeri</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="hidden btn btn-default" onclick="bspopup({type:'stack'});">Stack</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="hidden modal modal-about fade popupBox" id="popupBoxStack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Stack</h4>
      </div>
      <div class="modal-body" style="">
			  <h2>Visual Alchemist Stack</h2>
			  <h3>jsPlumb</h3>
			  <h3>Twitter Bootstrap</h3>
			  <h3>jQuery</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="hidden modal fade popupBox" id="popupBoxGeneric" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Visual Alchemist</h4>
      </div>
      <div class="modal-body" style="">
          <p class="messageText">Default Message</p>
      </div>
      <div class="modal-footer">
        <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="hidden modal fade popupBox" id="popupBoxInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header special-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Visual Alchemist</h4>
      </div>
      <div class="modal-body" style="">
          <p class="messageText">Default Message</p>
          <input type="text" class="form-control" id="txtInput">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnOK" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
