 <div  id="resultsDialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding:5px;">
        <button style="line-height:1.3;margin:0px 4px 0px 0px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<button type="button" class="btn btn-sm btn-primary" onclick="selectText('theCode');">Select All</button>
      </div>
      <div id="theCode" class="modal-body form-inline">
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
