<div id="tbl{table}" style="position:absolute" class="panel panel-default tableDesign">
		<!-- style="cursor:move" draggable="true" ondragstart="drag(event)" -->
	  <div class="panel-heading"  style="cursor:move" >{table}&nbsp;
		<button title="Delete" onclick='deleteTable("{table}");' style="float:right;" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		<button title="Edit" onclick='editTable("{table}");' style="float:right;" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span></button>
	  </div>
	  <!-- Table -->
	  <table class="table table-striped">
	  </table>

	</div>
	
	
